@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model PlacementPortal.Model.Models.RegisterModel

<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="~/css/style.css" rel="stylesheet" />


<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="~/img/logo.svg" />
                                <span class="d-none d-lg-block">PlacementPortal</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                            <!-- Profile Edit Form -->
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="fullName" class="col-md-5 col-form-label">Email</label>
                                            <div class="col-md-7">
                                                <input name="fullName" type="email" class="form-control" id="Email">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Password" class="col-md-5 col-form-label">Password</label>
                                            <div class="col-md-7">
                                                <input name="Password" type="password" class="form-control" id="Password">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="ConfirmPassword" class="col-md-5 col-form-label">ConfirmPassword</label>
                                            <div class="col-md-7">
                                                <input name="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Name" class="col-md-5 col-form-label">Name</label>
                                            <div class="col-md-7">
                                                <input name="Name" type="text" class="form-control" id="Name">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="UserTypeId" class="col-md-5 col-form-label">UserTypeId</label>
                                            <div class="col-md-7">
                                                <select class="form-select" id="UserTypeId" aria-label="Default select example">
                                                    <option selected value="DC43B2F5-0978-49DE-AE7B-977A4425BF73">Company</option>
                                                    <option value="22925928-880A-4261-BC6B-ABA4BB3FE5FA">College</option>
                                                </select>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="Code" class="col-md-5 col-form-label">Code</label>
                                            <div class="col-md-7">
                                                <input name="Code" type="text" class="form-control" id="Code">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="PhoneNumber" class="col-md-5 col-form-label">PhoneNumber</label>
                                            <div class="col-md-7">
                                                <input name="PhoneNumber" type="number" class="form-control" id="PhoneNumber">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Address" class="col-md-5 col-form-label">Address</label>
                                            <div class="col-md-7">
                                                <textarea name="Address" class="form-control" id="Address" style="height: 100px"></textarea>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="row my-3">
                                    <div class="col-md-12 text-center">
                                    <input type="button" class="btn btn-primary" value="Register" id="btnSaveRegister" />
                                    </div>
                                    <div class="col-md-12 mt-3 text-center">
                                        <p class="small mb-0">Already have an account? <a href="~/Authentication/LogIn">Log in</a></p>
                                    </div>
                            </div>

                            <!-- End Profile Edit Form -->

                            </div>
                        </div>

                        <div class="credits text-center">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://getbootstrap.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://getbootstrap.com/nice-admin-bootstrap-admin-html-template/ -->
                            Designed by <a href="https://getbootstrap.com/">BigWinners</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/vendor/apexcharts/apexcharts.min.js"></script>
<!-- Vendor JS Files -->
<script src="~/vendor/apexcharts/apexcharts.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/chart.js/chart.umd.js"></script>
<script src="~/vendor/echarts/echarts.min.js"></script>
<script src="~/vendor/quill/quill.min.js"></script>
<script src="~/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/vendor/tinymce/tinymce.min.js"></script>
<script src="~/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/js/main.js"></script>

<script src="~/js/Register.js"></script>